<!-- Feel free to remove this div. Uses purplecoat: http://ellekasai.github.io/purplecoat.js -->
<div data-purplecoat="shiori" data-purplecoat-label="sidebar.html">
  <!-- <h3 class="section-header">
    Get Shiori
  </h3>

  <p><a href="https://github.com/ellekasai/shiori" target="_blank" class="btn btn-primary"><i class="fa fa-github fa-lg"></i> View on GitHub &rarr;</a></p> -->

  <h3>
    Author
  </h3>

  <p>
    <div class="media">
      <h4 class="media-heading">Joy Zhuozhuo Liu</h4>
      <p>Greetings! I'm a UBC student residing in the vibrant city of Vancouver. My academic background spans across psychology, education, and computer science. Explore my blog to delve into my career and faith journeys.</p>
      <div class="media-body">        
        <img src="https://lh3.googleusercontent.com/pw/ADCreHePcte5ex0OTaHt5ggWR8u2FRng7WoRxIMNgBluStEydUpklJvRYsmHxUcxM4npouVJNjhnAXfAt0DRwj8hu320jOQUlZisW8jvOPnn9tE_wRevIefhtNX3Z8fILMOB9L0h_Iearmnp1Yi3MkP0y_21vw=w320-h470-s-no-gm?authuser=0"
          alt="Joy Liu"
          width="140"
        >
      </div>
    </div>
  </p>
</div>

<!-- <div class="media-body">
  <img src="https://cloud.githubusercontent.com/assets/992008/3955483/2b9a77ae-2702-11e4-9f28-6afb051271de.png" width="140" >
</div> -->